#Nothing here , go away!
.curseclient
mods/
minecraftinstance.json
resourcepacks/
logs/
local/
crash-reports/
kubejs/config
kubejs/startup_scripts/example.js
rhino.local.properties
config/ae2/client.json
config/ae2/common.json
config/alchemistry-common.toml
config/apotheosis/apotheosis.cfg
config/apotheosis/potion.cfg
config/appleskin-client.toml
config/botanypotstiers-common.toml
config/chemlib-common.toml
config/buildersaddition-common.toml
config/crossroads-server.toml
config/createsifter-common.toml
config/darkmodeeverywhereshaders.json
config/cyclic-client.toml
config/giacomos_fishing_net-client.toml
config/giacomos_foundry-server.toml
config/ironchests/chests/copper.json
config/collective.json5
config/essentials-server.toml
config/enchdesc.json
config/exnihilosequentia-common.toml
config/forge-resource-caching.toml
config/hammerlib/foil_colors.json
config/essentials-client.toml
config/hammerlib/main.cfg
config/fml.toml
config/ironchests/chests/crystal.json
config/ironchests/chests/dirt.json
config/hostilenetworks.cfg
config/ironchests/chests/gold.json
config/ironchests/chests/netherite.json
config/ironchests/defaults.properties
config/ironchests/chests/obsidian.json
config/ironchests/chests/iron.json
config/ironchests/upgrade_types/crystal.json
config/ironchests/upgrade_types/diamond.json
config/ironchests/upgrade_types/iron.json
config/ironchests/upgrade_types/obsidian.json
config/ironchests/upgrade_types/gold.json
config/ironchests/chests/diamond.json
config/ironchests/upgrade_types/copper.json
config/ironchests/upgrade_types/netherite.json
config/giacomos_fishing_net-server.toml
config/cyclic.toml
config/netherportalspread.json5
config/justzoom/config.txt
config/MouseTweaks.cfg
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/README.md
config/NoChatReports/NCR-ServerWhitelist.json
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/NoChatReports/NCR-Client.json
config/pneumaticcraft/thirdparty.cfg
config/quark-common.toml
config/randomium-common.toml
config/resourceful-config-web.json
config/configured-client.toml
config/createaddition-common.toml
config/crossroads-client.toml
config/jeresources.toml
config/NoChatReports/NCR-Common.json
config/pneumaticcraft/MicromissileDefaults.cfg
config/polymorph-integrations.toml
config/quark-common.toml
config/rubidium-mixins.properties
config/sidebar_buttons.json
config/rubidium-options.json
config/quark-common.toml
config/sodium-extra-options.json
config/squatgrow-common.yaml
config/strawgolem.ini
config/supplementaries-client.toml
config/supplementaries-common.toml
config/sodium-extra.properties
config/trashcans-common.toml
