#Nothing here , go away!
.curseclient
mods/
minecraftinstance.json
resourcepacks/
logs/
local/
crash-reports/
kubejs/config
kubejs/startup_scripts/example.js
rhino.local.properties
config/ae2/client.json
config/ae2/common.json
config/alchemistry-common.toml
config/apotheosis/apotheosis.cfg
config/apotheosis/potion.cfg
config/appleskin-client.toml
config/botanypotstiers-common.toml
config/chemlib-common.toml
config/buildersaddition-common.toml
config/crossroads-server.toml
config/createsifter-common.toml
config/darkmodeeverywhereshaders.json
config/cyclic-client.toml
config/giacomos_fishing_net-client.toml
config/giacomos_foundry-server.toml
config/ironchests/chests/copper.json
config/collective.json5
config/essentials-server.toml
config/enchdesc.json
config/exnihilosequentia-common.toml
config/forge-resource-caching.toml
config/hammerlib/foil_colors.json
config/essentials-client.toml
config/hammerlib/main.cfg
config/fml.toml
config/ironchests/chests/crystal.json
config/ironchests/chests/dirt.json
config/hostilenetworks.cfg
config/ironchests/chests/gold.json
config/ironchests/chests/netherite.json
config/ironchests/defaults.properties
config/ironchests/chests/obsidian.json
config/ironchests/chests/iron.json
config/ironchests/upgrade_types/crystal.json
config/ironchests/upgrade_types/diamond.json
config/ironchests/upgrade_types/iron.json
config/ironchests/upgrade_types/obsidian.json
config/ironchests/upgrade_types/gold.json
config/ironchests/chests/diamond.json
config/ironchests/upgrade_types/copper.json
config/ironchests/upgrade_types/netherite.json
config/giacomos_fishing_net-server.toml
config/cyclic.toml
config/netherportalspread.json5
config/justzoom/config.txt
config/MouseTweaks.cfg
config/NoChatReports/NCR-Encryption.json
config/NoChatReports/README.md
config/NoChatReports/NCR-ServerWhitelist.json
config/pneumaticcraft/PneumaticArmorHUDLayout.cfg
config/NoChatReports/NCR-Client.json
config/pneumaticcraft/thirdparty.cfg
config/quark-common.toml
config/randomium-common.toml
config/resourceful-config-web.json
config/configured-client.toml
config/createaddition-common.toml
config/crossroads-client.toml
config/jeresources.toml
config/NoChatReports/NCR-Common.json
config/pneumaticcraft/MicromissileDefaults.cfg
config/polymorph-integrations.toml
config/quark-common.toml
config/rubidium-mixins.properties
config/sidebar_buttons.json
config/rubidium-options.json
config/quark-common.toml
config/sodium-extra-options.json
config/squatgrow-common.yaml
config/strawgolem.ini
config/supplementaries-client.toml
config/supplementaries-common.toml
config/sodium-extra.properties
config/trashcans-common.toml
patchouli_data.json
config/xnet-client.toml
screenshots/
config/advgenerators-common.toml
config/apotheosis/enchantments.cfg
config/apotheosis/village.cfg
config/ars_nouveau-common.toml
config/botania-common.toml
config/cloud-storage.toml
config/cofh_core-common.toml
config/cofh_core-client.toml
config/craftingstation-client.toml
config/constructionwand-client.toml
config/create_jetpack-common.toml
config/create-client.toml
config/create-common.toml
config/creategoggles-client.toml
config/createsifter-client.toml
config/creategoggles-common.toml
config/createoreexcavation-common.toml
config/curiotiab-client.toml
config/darkmodeeverywhere-client.toml
config/cyclopscore-common.toml
config/dimpaintings-common.toml
config/dynamic_asset_generator.json
config/easy_villagers-client.toml
config/endercrop-common.toml
config/engineersdecor-common.toml
config/eccentrictome-common.toml
config/evilcraft-common.toml
config/extendedgears-common.toml
config/extractinator.toml
config/extremecobblegenerator-common.toml
config/extremereactors/client.toml
config/botania-client.toml
config/apotheosis/adventure.cfg
config/apotheosis/names.cfg
config/commoncapabilities-common.toml
config/apotheosis/garden.cfg
config/flywheel-client.toml
config/curios-client.toml
config/functionalstorage/functionalstorage-client.toml
config/apotheosis/spawner.cfg
config/essence_common.toml
config/Hexerei-client.toml
config/forgivingvoid-common.toml
config/industrialforegoing/machine-misc.toml
config/industrialforegoing/machine-agriculture-husbandry.toml
config/industrialforegoing/machine-generator.toml
config/functionalstorage/functionalstorage-common.toml
config/integrateddynamicscompat-common.toml
config/integratedtunnels-common.toml
config/integrateddynamics-common.toml
config/jade/hide-entities-1902.json
config/jade/plugins.json
config/jade/jade.json
config/jade/sort-order.json
config/jeresources-common.toml
saves/
.qmenu_opened.marker
config/ars_nouveau-client.toml
config/ars_nouveau/glyph_aoe.toml
config/ars_nouveau-server.toml
config/ars_nouveau/glyph_sense_magic.toml
config/ars_nouveau/glyph_smelt.toml
config/ars_nouveau/glyph_summon_decoy.toml
config/ars_nouveau/glyph_summon_undead.toml
config/ars_nouveau/glyph_summon_wolves.toml
config/ars_nouveau/glyph_snare.toml
config/ars_nouveau/glyph_toss.toml
config/ars_nouveau/glyph_underfoot.toml
usernamecache.json
usercache.json
config/ars_nouveau/

config/betteradvancements-client.toml
config/buildinggadgets-client.toml
config/citadel-common.toml
config/create_jetpack-client.toml
config/compactvoidminers.toml
config/entangled-common.toml
config/extremereactors/common.toml
config/extendedgears-client.toml
config/forge-client.toml
config/forge-common.toml
config/hammerlib.cfg
config/hammerlib/recipes/modded/botanicadds.json
config/Hexerei-common.toml
config/integratedterminals-common.toml
config/inventoryprofilesnext/New World/villager-trading-config.json
config/ironchests/defaults.lock
config/jade/hide-blocks-1902.json
config/industrialforegoing/machine-resource-production.toml
config/industrialforegoing/machine-core.toml
config/hammerlib/recipes/modded/minecraft.json
config/jade/hide-entities.json
config/jei/ingredient-list-mod-sort-order.ini
config/jei/blacklist.cfg
config/jei/ingredient-list-type-sort-order.ini
config/jei/jei-client.ini
config/Mekanism/gear.toml
config/Mekanism/common.toml
config/Mekanism/client.toml
config/Mekanism/additions.toml
config/Mekanism/additions-client.toml
config/mahoutsukai-client.toml
config/mcjtylib-client.toml
config/jei/jei-colors.ini
config/jei/jei-debug.ini
config/jei/jei-mod-id-format.ini
config/jei/recipe-category-sort-order.ini
config/konkrete/locals/de_de.local
config/konkrete/locals/pt_br.local
config/konkrete/locals/pl_pl.local
config/konkrete/locals/en_us.local
config/Mekanism/general.toml
config/Mekanism/generator-storage.toml
config/Mekanism/generators.toml
config/Mekanism/machine-storage.toml
config/Mekanism/generators-gear.toml
config/Mekanism/tiers.toml
config/Mekanism/tools-client.toml
config/Mekanism/tools.toml
config/Mekanism/machine-usage.toml
config/Mekanism/world.toml
config/modularrouters-client.toml
config/modularrouters-common.toml
config/merequester-common.toml
config/moremekanismprocessing-client.toml
config/moremekanismprocessing-common.toml
config/naturesaura-common.toml
config/netherportalspread/spreadsettings.txt
config/patchouli-client.toml
config/pedestals-client.toml
config/pedestals-common.toml
config/placebo.cfg
config/pneumaticcraft-client.toml
config/pneumaticcraft-common.toml
config/pneumaticcraft/ProgrammingPuzzleBlacklist.cfg
config/pneumaticcraft/ArmorFeatureStatus.cfg
config/quark-common.toml
config/railways-client.toml
config/railways-common.toml
config/reliquary-client.toml
config/reliquary-common.toml
config/rftoolsbuilder-client.toml
config/rftoolsutility-client.toml
config/rootsclassic-client.toml
config/rftoolsstorage-client.toml
config/rootsclassic-common.toml
config/silentgear-client.toml
config/silentgear-common-1.toml.bak
config/silentgear-common-2.toml.bak
config/silentgear-common.toml
config/sophisticatedbackpacks-common.toml
config/sophisticatedcore-client.toml
config/sophisticatedcore-common.toml
config/sophisticatedstorage-client.toml
config/sophisticatedstorage-common.toml
config/spark/config.json
config/thermal-client.toml
config/thermal-common.toml
config/thermal_integration-common.toml
config/titanium/titanium-tags.toml
config/titanium/titanium.toml
config/tombstone-client.toml
config/tombstone-common.toml
config/tombstone-server.toml
config/toomanyglyphs/glyph_amplify_three.toml
config/toomanyglyphs/glyph_chaining.toml
config/toomanyglyphs/glyph_amplify_two.toml
config/toomanyglyphs/glyph_filter_animal.toml
config/toomanyglyphs/glyph_filter_block.toml
config/toomanyglyphs/glyph_filter_entity.toml
config/toomanyglyphs/glyph_filter_is_mature.toml
config/toomanyglyphs/glyph_filter_is_baby.toml
config/toomanyglyphs/glyph_filter_item.toml
config/toomanyglyphs/glyph_filter_living.toml
config/toomanyglyphs/glyph_filter_living_not_monster.toml
config/toomanyglyphs/glyph_filter_living_not_player.toml
config/toomanyglyphs/glyph_lay_on_hands.toml
config/toomanyglyphs/glyph_filter_player.toml
config/toomanyglyphs/glyph_filter_monster.toml
config/toomanyglyphs/glyph_ray.toml
config/toomanyglyphs/glyph_reverse_direction.toml
config/totemic-client.toml
config/totemic-common.toml
